img.cursor {
    cursor: pointer
}

.ui-dialog-buttonset button{
    border-radius: 3px;
	font-size: 14px;
	line-height: 1.5;
	padding: 5px 10px;
	box-shadow: 0 2px 0 0 #1b5eab;
	border: medium none;
	text-decoration: none;
	background-color: #4a90e2;
	color: #fff;
	-moz-user-select: none;
	background-image: none;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	outline: medium none !important;
}

.iconos-pie span[class^="icon-"] {
	font-size: 48px;
	vertical-align: middle;
}

.iconos-pie span.icono-desc {
	font-size: 23px;
	margin-left: 5px;
}

.iconos-pie .glyphicon {
    font-size: 48px;
    vertical-align: middle;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.progressBar {
    width: 150px;
    height: 15px;
    border: 0px solid #111;
    background-color: #292929;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 10px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}