<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
<!--       <param name="ConversionPattern" value="[%p] [%d{dd-MM-yy HH:mm:ss}] %c{2}.%M(%L): %m%n" /> -->
      <param name="ConversionPattern" value="[%d{dd-MM-yy HH:mm:ss}] [%-5p] [%c{1}(%L)] - %m%n" />
    </layout>
  </appender>

<!--   <appender name="archivo" class="org.apache.log4j.FileAppender"> -->
<!--     <param name="file" value="/home/motor.log" /> -->
<!--     <param name="bufferSize" value="10240" /> -->
<!--     <param name="threshold" value="debug" /> -->
<!--     <layout class="org.apache.log4j.PatternLayout"> -->
<!--       <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" /> -->
<!--     </layout> -->
<!--   </appender> -->
  <logger name="org.apache">
    <level value="warn" />
  </logger>

  <logger name="org.eclipse.jetty">
    <level value="warn" />
  </logger>

  <logger name="org.cometd">
    <level value="warn" />
  </logger>

  <logger name="javax">
    <level value="info" />
  </logger>

  <logger name="org.hibernate">
    <level value="warn" />
  </logger>

  <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
    <level value="warn" />
  </logger>

  <logger name="mx">
    <level value="debug" />
  </logger>

  <logger name="test">
    <level value="trace" />
  </logger>

  <root>
    <level value="warn" />
    <appender-ref ref="console" />
<!--     <appender-ref ref="archivo" /> -->
  </root>

</log4j:configuration>
