/** ----- login ----- */
#_58_login,
#_58_password {
  color: #000000;
  width: 180px; }

#p_p_id_58_ .aui label,
#p_p_id_58_ .portlet-body {
  color: #ffffff; }

.portlet-login .navigation,
#signinmodal .navigation {
  display: none; }

/** ----- breadcrum ----- */
.aui #breadcrumbs {
  margin-bottom: 0;
  background: #70ae25;
  padding: 0 15px; }

.aui .breadcrumb {
  background-color: #70ae25;
  font-family: Verdana;
  font-size: 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0 15px;
  margin-bottom: 10px; }

.aui .breadcrumb li a,
.aui .breadcrumb li.last a,
.aui .breadcrumb li span.divider {
  color: #ffffff; }

.aui .breadcrumb li span.divider {
  font-weight: normal;
  visibility: hidden; }

.aui .breadcrumb li span.divider:after {
  content: ">";
  margin-left: -6px;
  visibility: visible; }

/** ----- navigation ----- */
.nav-menu {
  font-family: Verdana; }

.nav-menu ul {
  margin-left: 15px;
  padding-left: 0; }

.nav-menu h2 {
  background: #8a8d93;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  line-height: 32px;
  margin-top: 0px;
  padding-left: 15px; }

.nav-menu li a {
  font-size: 12px; }

/** ----- notifications ----- */
#_2_WAR_notificationsportlet_userNotifications {
  display: none; }

.notifications-portlet .nav a {
  color: #000000; }

.notifications-portlet .nav a.selected,
.notifications-portlet .nav a:active,
.notifications-portlet .nav a:hover {
  background-color: #f79c23;
  color: #ffffff; }

.notifications-portlet .nav a .count {
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  height: 26px;
  width: 26px; }

.notifications-portlet .nav a.selected .count,
.notifications-portlet .nav a:active .count,
.notifications-portlet .nav a:hover .count {
  background-color: #ffffff;
  color: #000000; }

.notifications-portlet .nav a .title {
  line-height: 24px; }

.notifications-portlet .user-notifications-list-container {
  background-color: #c2c3c7;
  padding: 10px;
  width: calc(80% - 20px); }

.notifications-portlet .user-notifications-list-container .user-notifications-list .message,
.notifications-portlet .user-notifications-list-container .user-notifications-list .manage-notifications {
  background-color: #ffffff; }

.notifications-portlet .user-notifications-list .message a,
.notifications-portlet .user-notification:active .timestamp,
.notifications-portlet .user-notification:hover .timestamp,
.notifications-portlet .user-notification:active .read,
.notifications-portlet .user-notification:hover .read {
  color: #000000; }

/** ----- status hook ----- */
#portlet_status .portlet-content {
  border: none; }

#portlet_status .portlet-topper {
  display: none; }

.error-title {
  color: #cd0a0a; }

