.aui body {
	font-family: Tahoma;
	color: #000000;
	font-weight: 400;
}

.aui a,
.aui a:active,
.aui a:hover {
	color: #2961e2;
}

.aui .portlet, .aui .portlet-borderless-container {
	background: inherit;
}

.aui .table {
	font-size: 1em;
}

.aui ul,
.aui ol {
	margin: 1px;
}

.aui label {
	font-family: inherit;
	font-size: 1em;
	color: inherit;
}

.aui input[type="color"],
.aui input[type="date"],
.aui input[type="datetime"],
.aui input[type="datetime-local"],
.aui input[type="email"],
.aui input[type="month"],
.aui input[type="number"],
.aui input[type="password"],
.aui input[type="search"],
.aui input[type="tel"],
.aui input[type="text"],
.aui input[type="time"],
.aui input[type="url"],
.aui input[type="week"],
.aui select,
.aui textarea,
.aui .uneditable-input {
	color: inherit;
	background-color: #ffffff;
	background-image: none;
}

.aui input[type="color"]:focus,
.aui input[type="date"]:focus,
.aui input[type="datetime"]:focus,
.aui input[type="datetime-local"]:focus,
.aui input[type="month"]:focus,
.aui input[type="number"]:focus,
.aui input[type="password"]:focus,
.aui input[type="text"]:focus,
.aui input[type="time"]:focus,
.aui input[type="week"]:focus,
.aui input[type="email"]:focus,
.aui input[type="url"]:focus,
.aui input[type="search"]:focus,
.aui input[type="tel"]:focus,
.aui textarea:focus,
.aui .uneditable-input:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(41, 97, 226, 0.6);
	border-color: rgba(41, 97, 226, 0.8);
}

.aui select:focus {
	box-shadow: none;
}


.panelDatos_header{
	background: #CA5D2C !important;
	color: #ffffff !important;
	padding: 2px !important;
	font-weight: normal !important;
}

.panelDatos_info_ececec{
	background: #ececec !important;
	color: #1a1a1a !important;
	padding: 1px !important;
	font-weight: normal !important;
}

.panelDatos_info_ffffff{
	background: #ffffff !important;
	color: #1a1a1a !important;
	padding: 1px !important;
	font-weight: normal !important;
}

