@import url(escritorio-virtual-header.css);
@import url(escritorio-virtual-dockbar.css);
@import url(escritorio-virtual-navigation.css);
@import url(escritorio-virtual-portlets.css);
@import url(escritorio-virtual-menu-lateral.css);
@import url(escritorio-virtual-footer.css);
@import url(escritorio-virtual-aui.css);
@import url(escritorio-virtual-ui.css);

html, body {
	height: 100%;
	padding: 0;
	font-family: Tahoma;
	font-size: 14px;
}

#wrapper {
	padding: 0;
	min-height: 100%;
	/** Los 31px son el alto del dockbar: jQuery('#p_p_id_145_').outerHeight(true) */
	min-height: calc(100% - 31px);
}

#hrefFm {
	margin-bottom: 0;
}

/** ----- Estilos genericos ----- */
.active-content {
	background-color: #f79c23 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff !important;
	padding: 0.2em 0.6em !important;
}

.orange-color {
	color: #f79c23 !important;
}

.section-title {
	font-family: Tahoma !important;
	font-size: 16px !important;
	font-weight: normal !important;
	color: #3c3d3f !important;
	text-align: left !important;
	line-height: 20px !important;
	display: block !important;
	clear: both !important;
	width: 100% !important;
	margin: 0 0 15px !important;
	padding: 0 0 4px !important;
	border-bottom: medium solid #f79c23 !important;
}

.section-title img {
	margin-right: 5px;
}

