#heading {
	background-image: url("../images/imss_bg_header.png");
	padding: 0;
}

h1.site-title {
	display: inline-block;
/*	margin: 0 20px;*/ 
    text-align: center;
	width: 100%;
}

#dockbar-wrapper {
	display: inline-block;
	float: right;
}

#heading > h1 > a {
	line-height: 66px;
}

#heading > h1 > a > img {
	height: 70px;
}
