<?xml version="1.0" encoding="utf-8" ?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] [%d{dd-MM-yy HH:mm:ss}] %c{1}: %m%n"/>
        </layout>
    </appender>

    <appender name="gestionClasificacion" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="tests.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="9"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p [%d{dd-MM-yy HH:mm:ss}] (%c{3}) %m%n"/>
        </layout>
    </appender>

    <logger name="mx.gob.imss.distss" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="gestionClasificacion"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>

