

.ui-stack {
	bottom: 28px;
	left: 10%;
}


.ui-editor {
	width: 100px;
}

.docDialog1 {
	left: 10px;
}


.fileupload-buttonbar .ui-button {
	display: inline-block;
	margin-bottom: 0;
}

.ui-fileupload .start {
	display: none;
}

.ui-fileupload .cancel {
	display: none;
}

.ui-fileupload .progress {
	display: none;
}

.fileupload-buttonbar {
	width: 120px;
}

.fileupload-content {
	display: none !important;
}


/* .ui-panel{
	border-style: none !important;
} */














/* Estilo para los Títulos de página */

.Titulo {
font-family: Calibri, Arial, Helvetica, sans-serif;
font-size: 18pt;
color: #3d4043;
/*padding-left:1em;*/
padding-bottom:0.1em;
padding-top:1em;
border-bottom:thin;
border-bottom:#FF9900;
margin-left: 2px;
}


/* Estilo para el subtítulo descriptivo de la página */

.SubTitulo {
font-family: Calibri, Arial, Helvetica, sans-serif;
font-size: 14pt;
color: #3d4043;
padding-left:1em;
padding-bottom:0.2em;
padding-top:0.2em;
border-bottom:thin;
border-bottom:#FF9900;
margin-left: -20px;
}
/* Se recomienda este estilo para el título de cada sección en formularios.
Se debe combinar con una tabla nueva y una celda, la celda debe contener el estilo .TituloSeccion para crear las separaciones de contenido */

.TituloSeccion {
	
	font-size:17px;
	color:#3c3d3f;
	font-weight:bold;
	padding-left:2em;
	border-style: solid;
    border-width: 3px;
	border-color:#CA5D2C;
	border-style: none none solid none;
	margin-top:10px;
	margin-bottom: 15px; 
}

.TextoSeccion {
	font-size:14px !important;
    font: Calibri,Arial,Helvetica,sans-serif !important;
}

.SubtituloSeccion {
	font-size:15px;
	color:#3c3d3f;
	font-weight:bold;
}

.Instrucciones {
	font-size:12px;
	font-style:italic;
}












.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
/*	background:transparent !important;		------------------------------------------------------------------------------------------
    background: #FFFFFF !important;    		------------------------------------------------------------------------------------------
    color: #4f4f4f;							------------------------------------------------------------------------------------------*/
    font-weight: normal !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    /*border-radius: 0 !important;*/
}


.aui label {
    display: block;
    margin-bottom: 0px !important;
}


.estiloBotonDerecha {
    background: #ffffff !important;
    border: 1px solid #d3d3d3 !important;
    box-shadow: 0 0px 0 #fff inset !important;
    color: #555555;
    font-weight: normal;
    margin-left:40px !important;
}


.estiloBotonDerecha:hover {
    background: #ffae4d !important;
    border: 1px solid #999999 !important;
    color: #ffffff !important;
    text-shadow: 0 #ffae4d !important;
    box-shadow: 0 0px 0 #fff inset !important;
    font-weight: normal;
}





.ui-state-default {
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0.7) !important;
    box-shadow: 0 0px 0 #fff inset !important;
}







.ui-button-text-only .ui-button-text {
   /*  padding: 0.3em 1em !important; */
}
/*
.ui-widget {
    font-size: 14px !important;
}*/
.ui-buttonset {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}




.ui-radiobutton .ui-radiobutton-box {
    border-radius: 10px !important;
    background: #eeeeee !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    /*background: #ffae4d !important;  ----------------------------------------------------------------------*/
    border: 1px solid #7096ab;
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}



.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover{
    /*background: #ffae4d !important; --------------------------------------------------------------------------*/
    border: 1px solid #7096ab;
    /*color: #ffffff !important;*/
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}


.estiloInputGeneral {
    background: #ffffff !important;
    color: #555555 !important;
    width:180px !important;
    hight:10px !important;
}

.estiloInputGeneral:focus, .estiloInputGeneral:hover {
    background: #ffffff !important;
    color: #555555 !important;
}


.estiloInputText {
    background: #ffffff !important;
    color: #555555 !important;
    width:400px !important;
    hight:10px !important;
}

.estiloInputText:focus, .estiloInputText:hover {
    background: #ffffff !important;
    color: #555555 !important;
}

.estiloInput_200 {
    background: #ffffff !important;
    color: #555555 !important;
    width:200px !important;
    hight:10px !important;
}

.estiloInput_200:focus, .estiloInput_200:hover {
    background: #ffffff !important;
    color: #555555 !important;
}

.estiloInputMedio {
    background: #ffffff !important;
    color: #555555 !important;
    width:260px !important;
    hight:10px !important;
}

.estiloInputMedio:focus, .estiloInputMedio:hover {
    background: #ffffff !important;
    color: #555555 !important;
}

.ui-datepicker .ui-datepicker-header {
    padding: 0 !important;
	height: 2em;
}

.ui-datepicker .ui-datepicker-title {
    background: #fff !important;
    margin: 0 !important;
	height: 2em;
}

.ui-messages-error, .ui-message-error {
    background-color: #fef1ec !important;
    border-color: #cd0a0a !important;
    color: #cd0a0a !important;
}
.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
    padding: 8px 5px !important;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    background-image: url("../images/icons/ui/ui-icons_ffffff_256x240.png") !important;
}
.ui-state-active .ui-icon {
    background-image: url("../images/icons/ui/ui-icons_ffffff_256x240.png") !important;
}
/*
.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon,
.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
    background-image: url("../images/icons/ui/ui-icons_cd0a0a_256x240.png") !important;
}*/





.ui-datatable tbody td{
    border-style: none !important;
}

.ui-datatable tfoot td {
    border-style: none !important;
}


.ui-datatable .ui-datatable-header {
    background: #fff !important;
    color: #333 !important;
}


.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
    background: #fafafa !important;
    border: none !important;
}

select.ui-column-filter.ui-widget.ui-state-default.ui-corner-left {
    background: #fff !important;
    color: #333 !important;
	
}


.ui-widget-content {
    border: none !important;
}

.estiloFondoBlanco {
    background: #ffffff !important;
	
}
.ui-wizard-nav-back, .ui-wizard-nav-next {
    background: #ffffff !important;
}
.ui-wizard-nav-back {
    background: #ffffff !important;
}


.ui-widget-header {
    text-shadow: none !important;  
}


.aui ul, .aui ol {
    margin: 0px !important;
}




.ui-tooltip {
    background: #f79c23 !important;
    color: #ffffff !important;
	border-radius: 6px !important;
	font-weight: bold !important;
	padding: 10px !important;
}

.ui-button-icon-only{
    background: #ffffff !important;
    margin-bottom: 0px !important;
}


/*
.tabWizard {
    background: #ffffff !important;
	font-size: 1em !important;
	font-weight:bold !important;
	margin: 1px !important;
	color: #333333 !important;
}

.tabWizardActive {
    background: #f79c23 !important;
	color: #eeeeee !important;
}*/




































/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/*******************************			NUEVOS ESTILOS PARA PENSIONES		**********************************************/
/*****************************************************************************************************************************/
/*****************************************************************************************************************************/



.red {
	color: #D0021B !important;
}

hr.red {
	margin: 10px 0 30px;
}

hr.red:before {
	content: " ";
	width: 35px;
	height: 5px;
	background-color: #D0021B;
	position: absolute
}

 .red-seg {
  color: #D0021B !important; 
  margin: 10px 0 30px; 
  content: " ";
  width: 35px;
  height: 5px;
  background-color: #D0021B; }
  
.h3,h3 {
	font-size: 26px !important;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	line-height: 1.1 !important;
}



.ui-corner-all {
    border-radius: 6px !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #4A90E2 !important;
    color: #393C3E !important;
    text-shadow: none !important;
}

/***************	CAMPOS DE CAPTURA		*****************************/
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
/*    background: none !important;*/
    height: 35px !important;
    box-shadow: 0 0px 0px #ffffff inset !important;
    color: #313131;
}

.hasDatepicker{
	width: 200px !important;
}

.ui-datepicker-trigger{
    margin-top: -8px !important;
    height: 35px !important;
    margin-left: -38px !important;
}

.ui-selectonemenu {
    height: 35px !important;
    padding: 0 !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin: 3px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger {
	border-style: none !important;
	background-color: #FFF !important;
    /* border: medium none !important; 
    padding: 3px !important;*/
    margin-right: -3px !important;
    padding-top: 5px !important;
    width: 30px;
}

.ui-selectonemenu .ui-selectonemenu-label {
	border-radius: 0 !important;
	width: 600px !important;
	padding-left: 10px !important;
	padding-top: 8px !important;
}
    
.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    /*background: #F6F6F6 !important;*/
    border-radius: 0 !important;
}



.ui-selectonemenu-panel .ui-selectonemenu-list {
    background: #FFF !important;
	padding: 0px !important;
	border-radius: 0 !important;
}

/***************	BOTONES		*****************************/
.btn-menu {
	height: 10px;
	background: #4A90E2 !important;
	border-color: #3484de !important;
    border: 1px solid #3484de !important;
    font-size: 1px !important;
    border-radius: 0px !important;
    padding: 10px -15px !important;
    text-decoration: none !important;
    
}
.btn-menu:hover {
	color: #fff !important;
	background: #2276d7 !important;
	border-color: #1d68b8 !important;
    border: 1px solid #1d68b8 !important;
}

.btn-menu-disabled {
	height: 10px;
	background: #DDD !important;
	border-color: #EEE !important;
    border: 1px solid #EEE !important;
    font-size: 1px !important;
    border-radius: 0px !important;
    padding: 10px -15px !important;
    text-decoration: none !important;
    
}
.btn-menu-disabled:hover {
	color: #fff !important;
	background: #DDD !important;
	border-color: #EEE !important;
    border: 1px solid #EEE !important;
}
.btn-menu-disabled:focus {
	color: #fff !important;
	background: #DDD !important;
	border-color: #EEE !important;
    border: 1px solid #EEE !important;
}













.btn {
    border: none !important;
    font-size: 18px !important;
    border-radius: 3px !important;
    padding: 7px 15px !important;
    /*padding: 10px 25px !important;		********************	TEMA	*************/
    text-decoration: none !important;
    
}

.btn-xs {
    border: none !important;
    font-size: 14px !important;
    border-radius: 3px !important;
    padding: 0px 3px !important;
    text-decoration: none !important;
    margin: -5px 0px !important;
}

.btn-sm{
    border: none !important;
    font-size: 16px !important;
    border-radius: 3px !important;
    padding: 3px 7px !important;
    text-decoration: none !important;
    /* margin: -5px 0px !important; */
}

.btn-default {
	color: #333 !important;
	background: #FFF !important;
	border-color: #3484de !important;
    border: 1px solid #efefef !important;
}


.btn-default:hover {
	color: #333 !important;
	background: #e6e6e6 !important;
	border-color: #1d68b8 !important;
    border: 1px solid #adadad !important;
}

.btn-primary {
	color: #fff !important;
	background: #4A90E2 !important;
	border-color: #3484de !important;
    border: 1px solid #3484de !important;
}


.btn-primary:hover {
	color: #fff !important;
	background: #2276d7 !important;
	border-color: #1d68b8 !important;
    border: 1px solid #1d68b8 !important;
}


/***************	PANELGRID Y DATATABLE		*****************************/
/*.ui-widget .ui-widget {
    font-size: 18px;
}*/

.ui-panelgrid td, .ui-panelgrid tr {
	/*border-style: none !important;*/
	vertical-align: top;
}

.ui-panelgrid, .ui-panelgrid td, .ui-panelgrid tr{
	/* border-style: none !important; */
	vertical-align: top;
}

.table-no-border, .table-no-border td, .table-no-border tr{
	border-style: none !important;
}

.table-no-padding, .table-no-padding td, .table-no-padding tr{
	padding: 0 !important;
}

.table-striped td, .table-striped tr{
	/* border-style: none !important; */
	border-top-style: 1px !important;
	border-top-color: #ccc !important;  
	border-bottom-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.table-striped>tbody>tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.ui-datatable thead th {
	border-top-style: none !important;    
	border-bottom-style: 2px !important;
    border-left-style: none !important;
    border-right-style: none !important;
    
    background: #FFF !important;
    color: #28292A !important;
    overflow: hidden;
    padding: 14px 10px !important;
    white-space: nowrap;
    font: Calibri,Arial,Helvetica,sans-serif !important;

}




/***************	PANEL TOGGLEABLE		*****************************/

.ui-accordion{
	border-style: 1px !important;
	border-radius: 4px !important;
}

.ui-accordion-header {
    background: #F6F6F6 !important;
    color: #FFF !important;
	font-weight: 300 !important;
	/* padding: 20px 25px !important; ------------------------------------	ORIGINAL DEL TEMA GOB*/
	padding: 10px 0px !important;
}

.ui-accordion-content {
	border-style: 1px !important;
    
	border-radius: 4px !important;
	margin-top: -5px;
	
    /* border-top: 0 none;
    margin-bottom: 2px;
    margin-top: -2px;
    overflow: auto;
    padding: 1em 2.2em;
    position: relative; 
    top: 1px;*/
}


/***************	DIALOG		*****************************/

.ui-dialog{
    border-radius: 3px !important;
}
.ui-dialog-title-dialog{
	margin-left: 25px;
}

.ui-dialog .ui-dialog-titlebar {
    /* border: 0 none; */
    padding: 2px 5px 2px 15px !important;
    /* position: relative; */
    background: #000000 !important;
    color: #ffffff !important;
}
