.white-purple .ev-1-2 #column-1 {
	background-color: #ffffff;
	border-right: medium ridge #993399;
}

.aui .white-purple #breadcrumbs {
	background: #993399;
}

.aui .white-purple .breadcrumb {
	background-color: #993399;
}

.white-purple #footer .logo-wrapper {
	background-image: url("../../images/color_schemes/white-purple/imss_bg_footer.jpg");
}
